In [1]:
pip install pandas numpy scikit-learn matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\admin\appdata\roaming\python\python38\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\admin\appdata\roaming\python\python38\site-packages (1.24.3)
Requirement already satisfied: scikit-learn in c:\users\admin\appdata\roaming\python\python38\site-packages (1.3.2)
Requirement already satisfied: matplotlib in c:\users\admin\appdata\roaming\python\python38\site-packages (3.7.5)
Requirement already satisfied: seaborn in c:\users\admin\appdata\roaming\python\python38\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas) (2024.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from matplotlib) (6.4.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\admin\appdata\roaming\python\python38\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.19.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

# Load the datasets
users = pd.read_csv('data/users.csv')
fake_users = pd.read_csv('data/fusers.csv')

# Add labels
users['is_fake'] = 0  # Real users labeled as 0
fake_users['is_fake'] = 1  # Fake users labeled as 1

# Combine both datasets
data = pd.concat([users, fake_users], ignore_index=True)

# Display dataset shape and first few rows
print(data.shape)
data.head()

(6825, 43)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2,is_fake
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,0.0,0.0,0
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,0.0,0.0,0
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,Let me see what your best move is!,NaN,NaN,Wed May 04 23:30:37 +0000 2011,2011-05-05 01:30:37,2015-05-01 18:48:28,2016-03-15 15:53:48,0.0,0.0,0
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,20. menna: #farida #nyc and the 80s actually y...,NaN,NaN,Fri Sep 17 14:02:10 +0000 2010,2010-09-17 16:02:10,2015-05-01 13:55:16,2016-03-15 15:53:48,0.0,0.0,0
4,3020965143,Ms Kathy,191a5bd05da04dc,82,21,79,5,0,NaN,en,...,Cosmetologist,NaN,NaN,Fri Feb 06 04:10:49 +0000 2015,2015-02-06 05:10:49,2015-05-02 01:17:32,2016-03-15 15:53:48,0.0,0.0,0

In [3]:
print(data.isnull().sum())

id                                       0
name                                     1
screen_name                              0
statuses_count                           0
followers_count                          0
friends_count                            0
favourites_count                         0
listed_count                             0
url                                   5458
lang                                     0
time_zone                             4015
location                              1684
default_profile                       2759
default_profile_image                 6806
geo_enabled                           4531
profile_image_url                        0
profile_banner_url                    3593
profile_use_background_image           399
profile_background_image_url_https       0
profile_text_color                       0
profile_image_url_https                  0
profile_sidebar_border_color             0
profile_background_tile               5348
profile_sidebar_fill_color               0
profile_background_image_url             0
profile_background_color                 0
profile_link_color                       0
utc_offset                            4015
is_translator                         6824
follow_request_sent                   6825
protected                             6747
verified                              6814
notifications                         6825
description                           1452
contributors_enabled                  6825
following                             6825
created_at                               0
timestamp                             3351
crawled_at                            3351
updated                                  0
test_set_1                            3351
test_set_2                            3351
is_fake                                  0
dtype: int64

In [8]:
import pandas as pd

# Specify the datetime format (example format, adjust according to your data)
datetime_format = "%Y-%m-%d %H:%M:%S"  # Adjust based on your actual data format

# Convert 'created_at' to datetime with timezone-aware handling (UTC)
data['created_at'] = pd.to_datetime(data['created_at'], format=datetime_format, errors='coerce', utc=True)

# Convert 'updated' to datetime (naive)
data['updated'] = pd.to_datetime(data['updated'], format=datetime_format, errors='coerce')

# If 'updated' is naive, localize it to UTC
if data['updated'].dt.tz is None:
    data['updated'] = data['updated'].dt.tz_localize('UTC')

# Extract features from datetime columns
data['created_year'] = data['created_at'].dt.year
data['created_month'] = data['created_at'].dt.month
data['created_day'] = data['created_at'].dt.day
data['created_hour'] = data['created_at'].dt.hour

data['updated_year'] = data['updated'].dt.year
data['updated_month'] = data['updated'].dt.month
data['updated_day'] = data['updated'].dt.day

# Calculate the difference in days between created and updated
data['days_diff'] = (data['updated'] - data['created_at']).dt.days

In [9]:
data.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,test_set_2,is_fake,created_year,created_month,created_day,created_hour,updated_year,updated_month,updated_day,days_diff
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,0.0,0,2013,6,11,11,2016,3,15,1008
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,0.0,0,2014,5,13,10,2016,3,15,672
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,0.0,0,2011,5,4,23,2016,3,15,1776
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,0.0,0,2010,9,17,14,2016,3,15,2006
4,3020965143,Ms Kathy,191a5bd05da04dc,82,21,79,5,0,NaN,en,...,0.0,0,2015,2,6,4,2016,3,15,403

In [13]:
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

In [14]:
data.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,test_set_2,is_fake,created_year,created_month,created_day,created_hour,updated_year,updated_month,updated_day,days_diff
0,1120863444,Amanda,amandaaalouisss,43447,1068,822,8097,2,https://t.co/xuFE9YdbOb,en,...,0.0,0,2013,1,26,3,2016,3,15,1144
1,2585969946,օʟıѵıɑ,liv_fortner,2296,252,573,3150,1,NaN,en,...,0.0,0,2014,6,24,16,2016,3,15,629
2,179662214,karen Hess,hormecinda,0,4,601,0,0,NaN,en,...,NaN,1,2010,8,17,20,2013,6,12,1029
3,1329916243,Iván Santano,ivansm_28,559,236,207,402,1,NaN,es,...,0.0,0,2013,4,5,19,2016,3,15,1074
4,1176318060,Elly Mayhew,MayhewpyeElly,15,9,196,2,0,NaN,en,...,NaN,1,2013,2,13,17,2013,6,12,119

In [15]:
# Keep only the necessary columns
features = [
    'friends_count','statuses_count','followers_count','favourites_count', 'listed_count', 
    'favourites_count','days_diff'
]
target = 'is_fake'

X = data[features]
y = data[target]

In [16]:
data[features]

,friends_count,statuses_count,followers_count,favourites_count,listed_count,favourites_count,days_diff
0,822,43447,1068,8097,2,8097,1144
1,573,2296,252,3150,1,3150,629
2,601,0,4,0,0,0,1029
3,207,559,236,402,1,402,1074
4,196,15,9,2,0,2,119
...,...,...,...,...,...,...,...
6820,544,3,13,0,0,0,1114
6821,206,20,13,0,0,0,119
6822,191,19,9,2,0,2,119
6823,207,20,6,0,0,0,119
6824,133,373,39,6,1,6,1898

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [19]:
from sklearn.metrics import accuracy_score, classification_report

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.9934065934065934
Classification Report:
               precision    recall  f1-score   support

           0       0.99      1.00      0.99       715
           1       1.00      0.99      0.99       650

    accuracy                           0.99      1365
   macro avg       0.99      0.99      0.99      1365
weighted avg       0.99      0.99      0.99      1365

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.pairplot(data, hue='is_fake', vars=features)
plt.show()

In [22]:
import joblib

joblib.dump(model, 'fake_user_model.pkl')

['fake_user_model.pkl']

In [23]:
loaded_model = joblib.load('fake_user_model.pkl')

In [24]:
from sklearn.metrics import accuracy_score

# Assuming your model is trained and you have a training and test set
# X_train, X_test, y_train, y_test are your training features, training labels, test features, and test labels respectively

# Training accuracy
y_train_pred = loaded_model.predict(X_train)  # Predict on the training data
train_accuracy = accuracy_score(y_train, y_train_pred)  # Calculate the training accuracy
print(f"Training Accuracy: {train_accuracy * 100:.2f}%")

# Test accuracy
y_test_pred = loaded_model.predict(X_test)  # Predict on the test data
test_accuracy = accuracy_score(y_test, y_test_pred)  # Calculate the test accuracy
print(f"Test Accuracy: {test_accuracy * 100:.2f}%")

Training Accuracy: 100.00%
Test Accuracy: 99.34%